@charset "UTF-8";
/* 
    Created on : 2015-09-02, 10:22:50
    Author     : ┼üukasz Mitura
*/
body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

main {
  margin: 0 auto;
  width: 700px; }

.data-section {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #83b5d6;
  padding: 0 0 1em 0;
  margin: 1.5em 0 0 0;
  float: left; }
  .data-section > header {
    font-weight: 600;
    font-size: 1em;
    color: #05415b;
    background: -webkit-linear-gradient(#ddf0fc, #d6ebfa);
    background: -o-linear-gradient(#ddf0fc, #d6ebfa);
    background: -moz-linear-gradient(#ddf0fc, #d6ebfa);
    background: linear-gradient(#ddf0fc, #d6ebfa);
    border-bottom: 1px solid #83b5d6;
    border-top: 1px solid #fff;
    line-height: 100%;
    text-shadow: 0 1px 0 #fff;
    padding: 0.5em;
    margin: 0 0 1em 0; }
    .data-section > header .icon {
      display: inline-block;
      position: relative;
      float: left;
      margin: -0.85em 0.5em 0.5em 0.25em;
      border: 2px solid #fff;
      padding: 0.35em 0.5em;
      background: -webkit-linear-gradient(#fff, #dbf0fb);
      background: -o-linear-gradient(#fff, #dbf0fb);
      background: -moz-linear-gradient(#fff, #dbf0fb);
      background: linear-gradient(#fff, #dbf0fb);
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      font-size: 1.25em;
      font-weight: 900;
      height: 1em;
      width: 0.75em;
      font-size: 1.25em;
      text-align: center; }
      .data-section > header .icon::before {
        content: "";
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      .data-section > header .icon .icon-dollar-sign {
        line-height: 100%; }
      .data-section > header .icon .icon-arrow-down {
        font-size: 0.15em;
        background: transparent;
        width: 9px;
        height: 11px;
        border: 4px solid #05415b;
        border-top-width: 5px;
        -webkit-box-shadow: 0 1px 0 #fff;
        -moz-box-shadow: 0 1px 0 #fff;
        box-shadow: 0 1px 0 #fff;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px; }
        .data-section > header .icon .icon-arrow-down div:first-child {
          width: 3px;
          height: 6px;
          float: left;
          clear: none;
          background: #05415b; }
        .data-section > header .icon .icon-arrow-down div:nth-child(2) {
          width: 3px;
          height: 6px;
          float: right;
          clear: none;
          background: #05415b; }
        .data-section > header .icon .icon-arrow-down div:nth-child(3) {
          float: left;
          clear: left;
          width: 0;
          height: 0;
          border-bottom: 5px solid #05415b;
          border-right: 4px solid transparent; }
        .data-section > header .icon .icon-arrow-down div:last-child {
          float: right;
          clear: right;
          width: 0;
          height: 0;
          border-bottom: 5px solid #05415b;
          border-left: 4px solid transparent; }
  .data-section .chart {
    width: 500px;
    height: 170px;
    float: left; }
    .data-section .chart label {
      display: block;
      font-size: 0.75em;
      text-align: right; }
    .data-section .chart .c3-chart .c3-chart-lines .c3-chart-line .c3-lines .c3-line {
      stroke-width: 5px; }
    .data-section .chart .c3-chart .c3-chart-lines .c3-chart-line .c3-circles circle {
      stroke: #fff;
      stroke-width: 3px; }
  .data-section .summary {
    width: 150px;
    float: right;
    clear: none;
    color: #05415b;
    font-size: 2em;
    font-weight: 900;
    text-align: right;
    margin: 15px 20px 0 0; }
    .data-section .summary sup {
      color: #2f6ca6;
      font-size: 0.6em;
      vertical-align: super; }
    .data-section .summary small {
      font-size: 0.4em;
      font-weight: 700;
      color: #215e8a;
      display: block; }
  .data-section button.show-details {
    width: 136px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background: -webkit-linear-gradient(#1ebcea, #046c8a);
    background: -o-linear-gradient(#1ebcea, #046c8a);
    background: -moz-linear-gradient(#1ebcea, #046c8a);
    background: linear-gradient(#1ebcea, #046c8a);
    padding: 0 0 7px 0;
    text-align: center;
    font-size: 0.75em;
    float: right;
    clear: right;
    margin: 50px 20px 0 0;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.25s background;
    -moz-transition: 0.25s background;
    -o-transition: 0.25s background;
    transition: 0.25s background; }
    .data-section button.show-details:before {
      content: "";
      display: inline-block;
      width: 130px;
      height: 7px;
      background: transparent;
      border-top: 1px solid #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin: 1px 0 -1px 1px;
      float: left;
      opacity: 0.75;
      box-sizing: border-box;
      -webkit-transition: 0.25s opacity;
      -moz-transition: 0.25s opacity;
      -o-transition: 0.25s opacity;
      transition: 0.25s opacity; }
    .data-section button.show-details:hover {
      background: -webkit-linear-gradient(#046c8a, #1ebcea);
      background: -o-linear-gradient(#046c8a, #1ebcea);
      background: -moz-linear-gradient(#046c8a, #1ebcea);
      background: linear-gradient(#046c8a, #1ebcea); }
      .data-section button.show-details:hover:before {
        opacity: 0; }

/*# sourceMappingURL=style.css.map */
