/* 
    Created on : 2015-09-02, 10:22:50
    Author     : Łukasz Mitura
*/

$borderColor:                   #83b5d6;
$basicFontColor:                #05415b;
$unitFontColor:                 #2f6ca6;
$descriptionFontColor:          #215e8a;
$headerGradientColorTop:        #ddf0fc;
$headerGradientColorBottom:     #d6ebfa;
$headerIconGradientColorTop:    #fff;
$headerIconGradientColorBottom: #dbf0fb;
$buttonGradientColorTop:        #1ebcea;
$buttonGradientColorBottom:     #046c8a;

@mixin backgroundGradient($color1, $color2){
    background: -webkit-linear-gradient($color1, $color2);
    background: -o-linear-gradient($color1, $color2);
    background: -moz-linear-gradient($color1, $color2);
    background: linear-gradient($color1, $color2);
}
@mixin boxShadow($value){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin borderRadius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

main {
    margin: 0 auto;
    width: 700px;
}
.data-section {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $borderColor;
    padding: 0 0 1em 0;
    margin: 1.5em 0 0 0;
    float: left;
    
    > header {
        font-weight: 600;
        font-size: 1em;
        color: $basicFontColor;
        @include backgroundGradient($headerGradientColorTop, $headerGradientColorBottom);
        border-bottom: 1px solid $borderColor;
        border-top: 1px solid #fff;
        line-height: 100%;
        text-shadow: 0 1px 0 #fff;
        padding: 0.5em;
        margin: 0 0 1em 0;
        
        .icon {
            display: inline-block;
            position: relative;
            float: left;
            margin: -0.85em 0.5em 0.5em 0.25em;
            border: 2px solid #fff;
            padding: 0.35em 0.5em;
            @include backgroundGradient($headerIconGradientColorTop, $headerIconGradientColorBottom);
            @include boxShadow(0 0 3px rgba(0,0,0,0.6));
            @include borderRadius(5px);
            font-size: 1.25em;
            font-weight: 900;
            height: 1em;
            width: 0.75em;
            font-size: 1.25em;
            text-align: center;
            
            &::before {
                content: "";
                @include boxShadow(inset 0 0 3px rgba(0,0,0,0.6));
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                @include borderRadius(3px);
            }
            
            .icon-dollar-sign {
                line-height: 100%;
            }
            
            .icon-arrow-down {
                font-size: 0.15em;
                background: transparent;
                width: 9px;
                height: 11px;
                border: 4px solid $basicFontColor;
                border-top-width: 5px;
                @include boxShadow(0 1px 0 #fff);
                @include borderRadius(1px);
            
                div:first-child {
                    width: 3px;
                    height: 6px;
                    float: left;
                    clear: none;
                    background: $basicFontColor;
                }
                div:nth-child(2) {
                    width: 3px;
                    height: 6px;
                    float: right;
                    clear: none;
                    background: $basicFontColor;
                }
                div:nth-child(3) {
                    float: left;
                    clear: left;
                    width: 0;
                    height: 0;
                    border-bottom: 5px solid $basicFontColor;
                    border-right: 4px solid transparent;
                }
                div:last-child {
                    float: right;
                    clear: right;
                    width: 0;
                    height: 0;
                    border-bottom: 5px solid $basicFontColor;
                    border-left: 4px solid transparent;
                }
            }
        }
    }
    .chart {
        width: 500px;
        height: 170px;
        float: left;
        
        label {
            display: block;
            font-size: 0.75em;
            text-align: right;
        }
        
        .c3-chart {
            .c3-chart-lines {
                .c3-chart-line {
                    .c3-lines {
                        .c3-line {
                            stroke-width: 5px;
                        }
                    }
                    .c3-circles {
                        circle {
                            stroke: #fff;
                            stroke-width: 3px;
                        }
                    }
                }
            }
        }
    }
    
    .summary {
        width: 150px;
        float: right;
        clear: none;
        color: $basicFontColor;
        font-size: 2em;
        font-weight: 900;
        text-align: right;
        margin: 15px 20px 0 0;
        
        sup {
            color: $unitFontColor;
            font-size: 0.6em;
            vertical-align: super;
        }
        
        small {
            font-size: 0.4em;
            font-weight: 700;
            color: $descriptionFontColor;
            display: block;
        }
    }
    
    button {
        &.show-details {
            width: 136px;
            @include borderRadius(5px);
            color: #fff;
            @include backgroundGradient($buttonGradientColorTop, $buttonGradientColorBottom);
            padding: 0 0 7px 0;
            text-align: center;
            font-size: 0.75em;
            float: right;
            clear: right;
            margin: 50px 20px 0 0;
            border: 2px solid #fff;
            @include boxShadow(0 3px 5px rgba(0,0,0,0.3));
            @include transition(0.25s background);
            
            &:before {
                content: "";
                display: inline-block;
                width: 130px;
                height: 7px;
                background: transparent;
                border-top: 1px solid #fff;
                @include borderRadius(3px);
                margin: 1px 0 -1px 1px;
                float: left;
                opacity: 0.75;
                box-sizing: border-box;
                @include transition(0.25s opacity);
            }
            
            &:hover {
                @include backgroundGradient($buttonGradientColorBottom, $buttonGradientColorTop);
                
                &:before {
                    opacity: 0;
                }
            }
        }
    }
}